.profile__text-container {
    display: flex;
	flex-wrap: wrap;
	align-content: center;
}

@media screen and (max-width: 1023px) {
    .profile__text-container {
        justify-content:center;
		margin: 30px auto 0;
		max-width: 282px;
		
    }
}
